name: Deploy App (Self-Hosted)

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Close app
        run: screen -S devapp -X quit || true

      - name: Restart app
        run: screen -dmS devapp bash -c "source ~/.nvm/nvm.sh && npm run dev"
