name: Deploy App (Self-Hosted)

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Restart app
        run: |
          screen -S devapp -X quit || true
          screen -dmS devapp bash -c "/home/ubuntu/.nvm/versions/node/v25.2.0/bin/node run dev"
