name: Deploy App (Self-Hosted)

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Restart app
        run: |
          nvm use node
          screen -S devapp -X quit || true
          screen -dmS devapp bash -c "npm run dev"
